* {
    font-family: Roboto;
}

.header {
    top: 0;
    width: 100%;
    background: white;
    position: fixed;
}

.nav-container {
    display: flex;
    align-items: center;
}

.fmlogo {
    width: 90px;
    height: 100px;
}

.nav-links li a {
    padding: 8px 12px;
    color: #323f4b;
    font-size: 14px;
    text-decoration: none;
}

.nav-links {
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 12px 0 0;

}

@media (min-width: 768px) {
    .nav-links {
        width: auto;
        margin-left: auto;
        margin-top: 0;
        justify-content: flex-end;
    }
}

.banner {
    background-image: url("https://plus.unsplash.com/premium_photo-1717345992254-f1ec84d6814d?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-content {
    text-align: center;
}

.banner h1 {
    color: white;
    font-size: 45px;
    font-weight: 300;
}

.banner p {
    color: #f5f7fa;
    font-size: 24px;
    margin: 12px 0 24px;
}

.banner-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

.banner-actions button {
    width: 130px;
    height: 45px;
    border-radius: 10px;

    margin: 5px;
    cursor: pointer;
}

.custom-button {
    border: none;
    color: white;
    background: #d0b200;
}

.custom-outline-button {
    background: transparent;
    color: white;
    font-weight: 600;
    border: 1px solid #d0b200;
}

.why-choose-us {
    background: #f9fbfe;
}

.wcu-section {
    text-align: center;
    margin-bottom: 40px;
}

.wcu-section h1 {
    font-size: 24px;

}

.features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px
}

.feature-card {
    width: 100%;
    max-width: 320px;
    background: #ffffff;
    border: 1px solid #e5eaf4;
    border-radius: 16px;
    padding: 24px;
    text-align: center;
}

.feature-card>img {
    margin: auto;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.menu-card {
    width: 100%;
    max-width: 260px;
    background: #ffffff;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 1px 1px 1px #00000026;
}

.menu-header h1 {
    font-size: 24px;
    text-align: center;
}

.menu-card h1 {
    margin-top: 16px;
    color: #323f4b;
    font-size: 20px;

}

.menu-card a {
    color: #d0b200;
    font-weight: 500;
}

.container img {
    width: 200px;
    height: 200px;
    text-align: center;
}

.two-column {
    display: flex;
    flex-direction: column;
    border: 1px solid #e6f5ea;
    margin: 10px;
    border-radius: 10px;
}

.image-block img {
    width: 270px;
}

@media (min-width: 768px) {
    .two-column {
        flex-direction: row;
        justify-content: space-between;
        border: 1px solid #e6f5ea;
        margin: 10px;
        border-radius: 10px;
    }

    .two-column.reverse {
        flex-direction: row-reverse;
        border: 1px solid #e6f5ea;
        margin: 10px;
        border-radius: 10px;
    }
}

@media (min-width: 768px) {
    .two-column {
        flex-direction: row;
        justify-content: space-between;
        border: 1px solid #e6f5ea;
        margin: 10px;
        border-radius: 10px;
    }

    .two-column.reverse {
        flex-direction: row-reverse;
        border: 1px solid #e6f5ea;
        margin: 10px;
        border-radius: 10px;
    }
}

.payment-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.payment-icons img {
    margin: 20px;
    width: 50px;
    height: 50px;
}

.follow-us {
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 24px;
}

.social-icons span {
    width: 80px;
    height: 80px;
    background: #faf7e8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-footer {
    background: #0d2436;
    padding: 60px 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-content p,
.footer-content address {
    color: #ffffff;
    font-size: 14px;
}

.footer-content address {
    font-style: normal;
}

.offers {
    font-size: 20px;
}

.fresh {
    border-radius: 10px;
}

.lfood {
    width: 70px;
    height: 80px;
    margin: 20px;
    border-radius: 10px;
}
